

IDD_MAIN_LANDSCAPE DIALOG 0, 0, 640, 412
STYLE DS_LOCALEDIT | DS_CENTER | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | /* WS_CLIPSIBLINGS | */ WS_VISIBLE
CLASS IDSZ_MAIN_WINDOW_CLASS
CAPTION "Poker"
// FONT 8, "MS Sans Serif"
MENU IDM_MENU
{

    GROUPBOX    "&Computer ", IDST_COMPUTER_IMAGE_GROUP, 2,   2, 636, 202, BS_GROUPBOX | WS_CHILD | WS_VISIBLE

    CONTROL "", IDST_COMPUTERCARD1, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,    6, 10, 124, 172
    CONTROL "", IDST_COMPUTERCARD2, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,  132, 10, 124, 172
    CONTROL "", IDST_COMPUTERCARD3, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,  258, 10, 124, 172
    CONTROL "", IDST_COMPUTERCARD4, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,  384, 10, 124, 172
    CONTROL "", IDST_COMPUTERCARD5, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,  510, 10, 124, 172

    CTEXT "Status",          IDST_COMPUTER_STATUS,  6, 186, 628,  12, WS_BORDER

    GROUPBOX    "&Player ", IDST_PLAYER_IMAGE_GROUP, 2, 208, 636, 202, BS_GROUPBOX | WS_CHILD | WS_VISIBLE

    CONTROL "", IDST_PLAYERCARD1, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,    6, 216, 124, 172
    CONTROL "", IDST_PLAYERCARD2, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,  132, 216, 124, 172
    CONTROL "", IDST_PLAYERCARD3, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,  258, 216, 124, 172
    CONTROL "", IDST_PLAYERCARD4, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,  384, 216, 124, 172
    CONTROL "", IDST_PLAYERCARD5, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,  510, 216, 124, 172

    CTEXT "Status",          IDST_PLAYER_STATUS,  6, 392, 566,  12, WS_BORDER
    PUSHBUTTON "&Deal", IDB_CONTINUE, 574, 391, 60, 12, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED

}


IDD_MAIN_PORTRAIT DIALOG 0, 0, 340, 242
STYLE DS_LOCALEDIT | DS_CENTER | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | /* WS_CLIPSIBLINGS | */ WS_VISIBLE
CLASS IDSZ_MAIN_WINDOW_CLASS
CAPTION "Poker"
// FONT 8, "MS Sans Serif"
MENU IDM_MENU
{

    GROUPBOX    "&Computer ", IDST_COMPUTER_IMAGE_GROUP, 2,   2, 334, 116, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP

    CONTROL "", IDST_COMPUTERCARD1, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,    6, 10, 62, 86
    CONTROL "", IDST_COMPUTERCARD2, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,   72, 10, 62, 86
    CONTROL "", IDST_COMPUTERCARD3, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,  138, 10, 62, 86
    CONTROL "", IDST_COMPUTERCARD4, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,  204, 10, 62, 86
    CONTROL "", IDST_COMPUTERCARD5, IDSZ_CARD_WINDOW_CLASS, COMPUTERCARD_CTL_STYLE,  270, 10, 62, 86

    CTEXT "Status",          IDST_COMPUTER_STATUS,  6, 100, 324,  12, WS_BORDER

    GROUPBOX    "&Player ", IDST_PLAYER_IMAGE_GROUP, 2, 122/* 208 */, 334, 116, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP

    CONTROL "", IDST_PLAYERCARD1, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,    6, 130 /* 216 */,  62, 86
    CONTROL "", IDST_PLAYERCARD2, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,   72, 130,  62, 86
    CONTROL "", IDST_PLAYERCARD3, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,  138, 130,  62, 86
    CONTROL "", IDST_PLAYERCARD4, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,  204, 130,  62, 86
    CONTROL "", IDST_PLAYERCARD5, IDSZ_CARD_WINDOW_CLASS, PLAYERCARD_CTL_STYLE,  270, 130,  62, 86

    CTEXT "Status",          IDST_PLAYER_STATUS,  6, 220, 254,  12, WS_BORDER
    PUSHBUTTON "&Deal", IDB_CONTINUE, 268, 219, 60, 12, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED

}


IDD_ABOUT DIALOG 0, 0, 180, 100
STYLE DS_LOCALEDIT | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "About"
FONT 8, "MS Sans Serif"
{
    CTEXT "ver 1.0", IDST_VERSION, 4, 4, 172, 12, SS_CENTER | WS_CHILD | WS_VISIBLE
    LTEXT "Author: Jean-Claude Gervais", IDST_CREDITS, 4, 22, 172, 60, SS_LEFT | WS_CHILD
    DEFPUSHBUTTON "Close", IDCANCEL, 72, 82, 38, 14, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
}
